.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.leftColumn {
  display: grid;
  grid-column: span 1;
  background-color: #f3f3f3;
  padding: 24px;
}

.rightColumn {
  display: grid;
  grid-column: span 2;
  background-color: #dedede;
}
