.main {
  display: flex;
  flex-direction: column;
  margin: 20px 180px;
  border: solid 2px #fff;
  border-radius: 10px;
}

.title {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  justify-items: center;
  padding: 0px 20px;
  background-color: aliceblue;
  border-bottom: solid 2px;
}
.titleNight {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  justify-items: center;
  padding: 0px 20px;
  background: #0000008a;
  border-bottom: solid 2px;
  color: #fff;
}

.titleDate {
  font-size: 25px;
}

.content {
  display: grid;
  padding: 10px 20px;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  font-size: 30px;
  justify-items: center;
  border-bottom: solid 1px #959595;
  background: aliceblue;
  transition: all 1s;
}

.contentNight {
  padding: 10px 20px;
  display: grid;
  align-items: center;
  color: #fff;
  grid-template-columns: repeat(6, 1fr);
  font-size: 30px;
  border-radius: 5px;
  background: rgb(59, 59, 59);
  border-bottom: solid 1px #959595;
  transition: all 1s;
}

.monthDate {
  text-align: center;
}

.timesofDay {
  text-align: start;
  font-size: 20px;
}

.temp {
  font-size: 40px;
}

.fellsLike {
  font-size: 15px;
}

.wind {
  font-size: 20px;
  text-align: center;
}

.humidity {
  font-size: 20px;
}

@media (max-width: 1441px) {
  .main {
    padding: 20px 50px;
  }
  .title {
    gap: 30px;
    font-size: 14px;
  }
  .titleDate {
    font-size: 14px;
  }
  .monthDate {
    font-size: 14px;
  }
  .timesofDay {
    font-size: 14px;
  }
  .temp {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fellsLike {
    font-size: 12px;
  }
  .wind {
    font-size: 14px;
  }
  .humidity {
    font-size: 14px;
  }
}

@media (max-width: 1025px) {
  .main {
    padding: 20px 50px;
  }
  .title {
    gap: 30px;
    font-size: 14px;
  }
  .titleDate {
    font-size: 14px;
  }
  .monthDate {
    font-size: 14px;
  }
  .timesofDay {
    font-size: 14px;
  }
  .temp {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fellsLike {
    font-size: 12px;
  }
  .wind {
    font-size: 14px;
  }
  .humidity {
    font-size: 14px;
  }
}

@media (max-width: 426px) {
  .main {
    display: flex;
    padding: 0px;
    margin: 0px 10px;
    align-items: center;
  }
  .title {
    display: none;
  }
  .titleDate {
    font-size: 22px;
  }
  .content {
    padding: 10px 0px;
    width: 85%;
    display: flex;
    flex-direction: column;
    border: solid #2f4343 1px;
    border-radius: 10px;
    gap: 15px;
  }
  .contentNight {
    padding: 10px 0px;
    width: 85%;
    display: flex;
    flex-direction: column;
    border: solid #2f4343 1px;
    border-radius: 10px;
    gap: 15px;
  }
  .fellsLike {
    position: relative;
    bottom: 15px;
    font-size: 15px;
  }
  .temp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wind {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
