.footerBg {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8da58d;
  min-height: 70px;
  gap: 20px;
  flex-direction: column;
}

.showMore {
  padding-top: 20px;
  font-size: 20px;
  transition: all 0.3s;
}
.showMore:hover {
  cursor: pointer;
  text-decoration: underline;
  transform: scale(1.05);
}

.showMoreActive {
  text-decoration: underline;
  font-weight: bold;
  padding-top: 20px;
  font-size: 20px;
  transition: all 0.3s;
}
.showMoreActive:hover {
  cursor: pointer;
  text-decoration: underline;
  transform: scale(1.05);
}

.description {
  font-size: 16px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .footerBg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8da58d;
    height: 40px;
    font-size: 10px;
  }
  .footerText {
    font-size: 10px;
  }
}
